<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="logo" class="img-responsive text-center" src="/modules/core/client/img/brand/gymTrainingLogo.png" />
      </div>
    </div>
    <br>    
    <br>
        <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" align="center" show-errors>
          <label for="dni">Ingrese su documento para consultar el estado de su cuenta</label>
          <input type="text" id="dni" name="dni" class="form-control" style="width: 415px" ng-model="vm.credentials.dni" ng-pattern="vm.dniRegex" placeholder="dni" lowercase required>
          <div ng-messages="vm.userForm.dni.$error" role="alert">
            <p class="help-block error-text" ng-message="pattern">El DNI no es valido</p>
          </div>
        </div>
        <br>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Consultar</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>